<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on">属性信息</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 &gt; <a href="#">属性列表</a></dl>

    </div>
	
    <div class="fbneirong">
      <form class="am-form" method="post"  action="__URL__/type_add" >
        <div class="am-form-group am-cf">
          <div class="zuo">类型名称：</div>
          <div class="you">
            <input class="am-input-sm" name="type_name" id="doc-ipt-email-1" placeholder="请输入名称" type="text">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="submit" class="am-btn am-btn-success am-radius">确认添加</button>&nbsp;  » &nbsp; <button type="reset" class="am-btn am-btn-secondary am-radius">重置</button>

          </div>
        </div>
      </form>
    </div>

  
 
 <div class="foods">
  <ul>
    版权所有@2015. 模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -  More Templates<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
  </ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>




</div>